serverless/step_functions.yml
validate: true
stateMachines:
  EpicPreProcessingStateMachine:
    name: ${self:custom.stage}-Unit-Testing
    definition:
      Comment: "Testing localstack"
      StartAt: BasicLambda
      States:
        BasicLambda:
          Comment: "Basic lambda"
          Type: Task
          Resource:
            Fn::GetAtt: [Basic, Arn]
          ResultPath: $.basic
          OutputPath: $
          Next: InsertRecord
        InsertRecord:
          Type: Task
          Resource: "arn:aws:states:::dynamodb:putItem"
          Parameters:
            TableName: demo-dynamo-db
            Item:
              ingestion_id:
                S.$: $$.State.EnteredTime
              delivery_date:
                S.$: $.delivery_date
          Next: SUCCEED
        SUCCEED:
          Type: "Pass"
          End: true
